@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Outfit', sans-serif;
}

main {
    height: 100vh;
    background: hsl(212, 45%, 89%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    padding: 10px;
    width: 350px;

}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 95%;
    margin-top: 15px;
    border-radius: 10px;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    

}

.head-description {
    padding: 0px 20px;
    text-align: center;
}

.head-description h2 {
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    
    
}

.second-description {
    padding: 15px 5px;
}

.second-description p {
    font-weight: 400;
    font-size: 15px;
    color:  hsl(220, 15%, 55%)
}

